// use only defined classes in the default class
.--DEFAULT {
  :not(.btn):not(.selected) {
    letter-spacing: 18px;
  }
}

// global props
.--font-size-28 {
  font-size: 28px;
}
// global props
.--font-size-52 {
  font-size: 52px;
}

.root {
  height: 100%;
  width: 100%;

  &--red_as_color {
    color: red;
  }

  &--green_as_color {
    color: green;
  }

  &--yellow_as_color {
    color: yellow;
    &--dark-yellow {
      color: orange;
      &--sub-dark-yellow {
        color: orangered;
      }
    }
  }

  &--border-radius {
    border-radius: 3px;
    border: solid 1px var(--border-color);
    padding: 12px;
  }
}

.header-title {
  text-align: center;
  padding: 15px;
  &--centered {
    text-align: center;
  }
}

.content {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  overflow-y: auto;
  padding: 8px;
  color: var(--text-color);
  &--collapsed_as_status {
    min-height: 0px;
    height: 0;
    overflow: hidden;
  }
  &--expanded_as_status {
    height: auto;
  }
  border: solid 1px var(--border-color);
}

.item {
  color: gray;
  &:not(:first-child) {
    margin-left: 15px;
  }
}

.selected {
  color: blue;
}

.btn-wrapper {
  margin-top: 30px;
}

.btn {
  padding: 20px;
  &--dark-mode {
    background: #888;
    border: solid 1px #888;
    color: white;
    &--yolo {
      color: black;
    }
  }
}
.color-picker {
  color: red;
}

.expanded-btn,
.expanded-btn_ext_btn {
  text-align: center;
  margin-left: 4px;
}
